body{
    /*background: url(https://img.wallpapersafari.com/desktop/1920/1080/22/48/tZaxKq.jpg);*/
    /*background: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-pet-hospital-poster-background-image_138005.jpg);*/
    /*background: url("/assets/img/aaa.jpeg");*/
    background-size: cover;
}
.popup .content {
    
    width: 300px;
    height: 450px;
    text-align: center;
    top: 10%;
    left: 37%;
    padding: 20px 20px 50px 20px;
    border-radius: 20px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    position: absolute;
    z-index: 1;
}
h1 {
    font-weight: 600;
    padding-top: 60px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 0;
    margin: 0;
}

a {
    font-weight: 600;
    color: white;
}
.input-field .validate {
    border: none;
    margin-bottom: 15px;
    color: #bfc0c0;
    background: #262626;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.first-button {
    margin-top: 12px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: #262626;
    outline: none;
}
.first-button:hover{
    transform: scale(1.1);
    opacity: 0.8;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.signupBtn:hover{
    transform: scale(1.1);
    opacity: 0.8;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.button{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.cancelBtn {
    padding: 14px 20px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius:50px;
    border: none;
}
.signupBtn{
    padding: 14px 20px;
    background: #3DDF80;
    background: -webkit-linear-gradient(top left, #3DDF80, #95C27C);
    background: -moz-linear-gradient(top left, #3DDF80, #95C27C);
    background: linear-gradient(to bottom right, #3DDF80, #95C27C);
    border-radius:50px;
    border: none;

}
.cancelBtn, .signupBtn {
    float: left;
    width: 50%;

}
.popup-container{
    width: 300px;
    display: flex;
    height: 400px;
    top: 10%;
    left: 37%;
    padding: 120px 30px 20px 30px;
    border-radius: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    position: absolute;
    z-index: 1;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    overflow-y: scroll;
}
.popup-container::-webkit-scrollbar{
    display: none;
}
.popup-label{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 12px
}
.label-input{
    border-radius: 20px;
    padding: 20px;
    background: #262626;
    border: none;
    color: white;
}
/*#signUp{*/
/*    display: none;*/
/*}*/
.clearfix{
    padding-top: 10px;
}
b {
    padding-bottom: 3px;
}
