<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="../css/SignIn_SignUp.css">
</head>
<body>
<form>
    <div class="popup" id="popup-1">
        <div class="content" id="signIn">
            <h1 style="padding-bottom: 35px">Sign In</h1>
            <div class="input-field"><input type="text" id="usrName" name="usrName" placeholder="Email"
                                            class="validate">
            </div>
            <div class="input-field"><input type="password" id="psw" name="psw" placeholder="Password"
                                            class="validate">
            </div>
            <p style="color: red; margin: 0"></p>
            <div class="button">
                <button class="first-button" id="firstBtn" type="submit" onclick="signIn()">Sign In</button>
                <button id="sndBtn" class="first-button" onclick="signUp()">Sign Up</button>
            </div>
        </div>
    </div>
</form>
<form style="display: none">
    <div id="signUp" class="modal">
        <div class="popup-container">
            <div class="popup-text">
                <h1 style="margin-bottom: -10px">Sign Up</h1>
                <p style="font-size: 15px; padding: 10px 0 0 0;">Please fill in this form to create an
                    account.</p>
            </div>
            <label class="popup-label"><b>Username</b>
                <input class="label-input" type="text" placeholder="Enter Username" name="username"
                       id="userName" required>
            </label>
            <p class="message" style="color: red; margin: -6px 0 8px 6px"></p>
            <label class="popup-label"><b>Password</b>
                <input class="label-input" type="password" placeholder="Enter Password" id="psw-create"
                       name="psw" required>
            </label>
            <p class="message" style="color: red; margin: -6px 0 8px 6px"></p>
            <label class="popup-label"><b>Repeat Password</b>
                <input class="label-input" type="password" placeholder="Repeat Password" id="repeat-psw"
                       name="psw-repeat" required>
            </label>
            <p class="message" style="color: red; margin: -6px 0 8px 6px"></p>
            <label class="popup-label"><b>Phone Number</b>
                <input class="label-input" type="text" placeholder="0987xxx" id="phone"
                       name="phone" required>
            </label>
            <p class="message" style="color: red; margin: -6px 0 8px 6px"></p>
            <label class="popup-label"><b>Email</b>
                <input class="label-input" type="text" placeholder="example@gmail.com" id="email"
                       name="email" required>
            </label>
            <p class="message" style="color: red; margin: -6px 0 8px 6px"></p>
            <label class="popup-label"><b>Address</b>
                <input class="label-input" type="text" id="address"
                       name="address" required>
            </label>
            <div class="clearfix">
                <button class="signupBtn" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</form>
</body>
<script src="../ajax/logIn.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</html>