<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Feed</title>
    <script src="../ajax/newFeed.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-storage.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../ajax/fireBase.js"></script>
</head>
<body onload="init()">
<section>
    <nav>
        <div class="search"></div>
        <div class="nav-menu">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="acc-info"></div>
    </nav>
</section>
<div id="postCreate">
<div id="userName"></div>
    <select name="permissionPost" id="permissionPost">
        <option value="Public">Public</option>
        <option value="Private">Private</option>
    </select>
    <br>
    <textarea id="contentPost" placeholder="Say Something..."></textarea>
    <br>
    <input type="file" id="imagePost">
    <br>
    <button id="post" onclick="createPost()">Post</button>
</div>
<div id="postDiv"></div>
</body>
</html>