<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Winku Social Network Toolkit</title>
    <link rel="icon" href="../images/fav.png" type="image/png" sizes="16x16">
    
    <link rel="stylesheet" href="../../CASE_STUDY_MD4/src/main/resources/css/main.min.css">
    <link rel="stylesheet" href="../../CASE_STUDY_MD4/src/main/resources/css/style.css">
    <link rel="stylesheet" href="../../CASE_STUDY_MD4/src/main/resources/css/color.css">
    <link rel="stylesheet" href="../../CASE_STUDY_MD4/src/main/resources/css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	

	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="../../CASE_STUDY_MD4/src/main/resources/templates/newsfeed.html"><img src="../images/logo.png" alt=""></a>
		</div>
		
		<div class="top-area">
			<ul class="main-menu">
				<li>
					<a href="#" title="">Users</a>
					<ul>
						<li><a href="timeline-admin.html" title="">Users</a></li>
					</ul>
				</li>


			</ul>
			<ul class="setting-area">
				<li>
					<a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
					<div class="searched">
						<form method="post" class="form-search">
							<input type="text" placeholder="Search Friend">
							<button data-ripple><i class="ti-search"></i></button>
						</form>
					</div>
				</li>
				<li><a href="../../CASE_STUDY_MD4/src/main/resources/templates/newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>


				<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i></a>
					<div class="dropdowns languages">
						<a href="#" title=""><i class="ti-check"></i>English</a>
						<a href="#" title="">Arabic</a>
						<a href="#" title="">Dutch</a>
						<a href="#" title="">French</a>
					</div>
				</li>
			</ul>
			<div class="user-img">
				<img src="../images/resources/admin.jpg" alt="">
				<span class="status f-online"></span>
				<div class="user-setting">
					<a href="#" title=""><span class="status f-online"></span>online</a>
					<a href="#" title=""><span class="status f-away"></span>away</a>
					<a href="#" title=""><span class="status f-off"></span>offline</a>
					<a href="#" title=""><i class="ti-user"></i> view profile</a>
					<a href="#" title=""><i class="ti-pencil-alt"></i>edit profile</a>
					<a href="#" title=""><i class="ti-target"></i>activity log</a>
					<a href="#" title=""><i class="ti-settings"></i>account setting</a>
					<a href="#" title=""><i class="ti-power-off"></i>log out</a>
				</div>
			</div>

		</div>
	</div><!-- topbar -->


	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
											<h4 class="widget-title">Shortcuts</h4>
											<ul class="naves">

												<li>
													<i class="ti-user"></i>
													<a href="timeline-admin.html" title="">Users</a>
												</li>
																							</ul>
										</div><!-- Shortcuts -->


								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="frnds">
										<ul class="nav nav-tabs">
											 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Users</a> <span>55</span></li>
										
										</ul>

										<!-- Tab panes -->
										<div class="tab-content">
										  <div class="tab-pane active fade show " id="frends" >
											<ul class="nearby-contct">
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/friend-avatar9.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">jhon kates</a></h4>
														<span>Friends Amount : 55  </span>
														<span>Date Creation  : 06.02.2019 </span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">Block</a>
														<a href="#" title="" class="add-butn" data-ripple="">Unblock</a>
													</div>
												</div>
											</li>

										</ul>
											<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
										  </div>
										  <div class="tab-pane fade" id="frends-req" >
											<ul class="nearby-contct">
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/nearly5.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">Amy watson</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>	

											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/nearly1.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">sophia Gate</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/nearly6.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">caty lasbo</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/friend-avatar9.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">jhon kates</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/nearly2.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">sara grey</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/nearly4.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">Sara grey</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/nearly3.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">Sexy cat</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title=""><img src="../images/resources/friend-avatar9.jpg" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="../../CASE_STUDY_MD4/src/main/resources/templates/time-line.html" title="">jhon kates</a></h4>
														<span>ftv model</span>
														<a href="#" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
										</ul>	
											  <button class="btn-view btn-load-more"></button>
										  </div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->

						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>


</div>

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/main.min.js"></script>
	<script src="../js/script.js"></script>
	<script src="../js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	


</html>